.admin.widget.rounded-corners
  .header
    .title
      %h4 Administration
    .menu
    %br.cb
  .text
    %p
      = link_to 'Administer Users', '/admin_users'
    %p
      = link_to 'Administer Games', '/admin_games'