body {
	background-color: #384053;
}

div {
	color: #384053;
	font-size: 11pt;
}

h3 {
	color: #BA2B00;
	margin-top: 0px;
}

.main-container {
	margin-left: 20px;
	min-width: 960px;
}

.left-container {
	width: 65%;
	float: left;
}

.right-container {
	width: 200px;
	float: right;
}

.random-colors {
384053, 353C4D, 434D53

3C4363, 78818f, 434D53, 7797b2, 15394d, 5F7F96, 134c6b

504f57, 5e686b, 4E5459, 1C202B, 36383F, 384053, 788691, 353C4D, 33333C


	ABB8B0, 3C4363, f0ecd4, cdcfb7, 78818f, 434D53, 67917A, CAD4C3, DEE2DB, 7797b2,15394d,5F7F96, 123142, 134c6b

palette: 384053 - blue, 415438 - green, 543841 - red, D6C102 - yellow, 80511C - orange ;


3C4363 - blue, f4a54b - orange, 9d534a - red, cae081 - green, b74051 - red, fae278 - yellow, 
e2e1c1	
85011C - red, f0ecd4 - pale yellow, cc4621 - orange, 3ca4c9 - blue, 4a889e - blue, f75c03 - orange
008900
FCFEF5 - light beige, cdcfb7 - gray green, d6e6c3 - light green, 78818f - gray, fae2a1 - pale orange
F7803C - orange, 
E2882D - orange, e3e6f3 - light gray blue, CDD7B6 - light green gray, ABB8B0 - gray, 0E8D94 - ocean blue, 434D53 - dark blue gray
67917A - sea foam green, 226990 - blue
DBE1BC - pale green/beigish, d14428 -orange, 
CAD4C3 - gray/green, 
DEE2DB - gray/green, 7797b2 - blue (nice gradient between these two)
08D1FB - brght blue, 
FA4B00 - orange, aae0fa - blue, 15394d - dark blue, 
5F7F96 - blueish gray, cc5650 - red, e8ba31 - orange, df7908 - orange
CED3B7 - gray green beigish, 174487 - blue, 
6CAF83 - blue green, 8a0721 - red, eb9102 - orange,
123142 - dark blue.gray,
134c6b - blue 

}

.top-ad {
	width: 728px;
	height: 90px;
	margin: auto;
}

.side-ad-container {
	background-color: white;
	margin: auto;
	margin-top: 10px;
	margin-left: 6px;
	padding: 10px;
	width: 600px;
	border: 1px solid #aaaaaa;
}

.side-ad {
	margin: auto;
	display: block;
}

.bottom-ad {
	width: 728px;
	height: 90px;
	margin: auto;
}

.footer {
	background-color: #666666;
	padding: 6px;
	margin-bottom: 10px;
}

.rounded-corners {
	-moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.content {
	background-color: #EDEDED;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 6px;
	overflow: auto;
	min-width: 940px;
}

.top-bar-top {
	background:  white;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	padding-top: 4px;
	overflow: auto;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.win.ie .top-bar-top {
	height: 95px;
}

.top-bar-top a {color: #BA2B00;text-decoration:none;font-family:helvetica;font-weight: bold;}

.top-bar-bottom{
	background-color: white;
	margin: 0;
	border: 1px solid #aaaaaa;
	padding-top: 5px;
	padding-bottom: 3px;
	overflow: auto;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.top-bar-bottom a {color: #BA2B00;text-decoration:none;font-family:helvetica;font-weight: bold;}

.logo {
	float: left;
}

.top-menu {
	float: right;
	margin-top: 30px;
}

.win.gecko .top-menu {
	float: right;
	margin-top: 30px;
}

.win.ie .top-menu {
	overflow: auto;
}

.greeting {
	float: right;
	padding-right: 10px;
}

.greeting h3 {
	margin-bottom: 5px;
}

.main-content {
	margin-top: 10px;
}

.message {
	width: 70%;
	margin: auto;
	margin-bottom: 10px;
	padding: 5px;
}

.success {
	border: 1px solid #C6D880;
	background: #E6EFC2;
	color: #264409;
}
.notice {
	border: 1px solid #FFD324;
	background: #FFF6BF;
	color: #514721;
}
.error {
	border: 1px solid #FBC2C4;
	background: #FBE3E4;
	color: #8a1f11;
}

.widget {
	background-color: white;
	margin: auto;
	padding: 10px;
	border: 1px solid #aaaaaa;
}

.widget h4 {
	color: #BA2B00;
	margin-bottom: 0px;
	margin-top: 0px;
}
.widget .header {
	border-bottom: 1px solid #ba2b00;
	margin-bottom: 4px;
	overflow: auto;
}

.widget .title {
	float: left;
}

.widget .menu {
	float: right;
}

.intro-container {
	overflow: auto;
}

.intro {
	margin-top: 10px;
	overflow: auto;
}

.intro h2 {
	color: #BA2B00;
	margin-bottom: 0px;
	margin-top: 0px;
}

.text {
	width: 60%;
	float: left;
}

.basic-generator {
	width: 30%;
	border: 1px solid #aaaaaa;
	height: 200px;
	background-color: #ededed;
	padding: 4px;
	float: right;
	margin-right: 20px;
}

.features {
	margin-top: 10px;
	overflow: auto;
}

.features h2 {
	color: #BA2B00;
	margin-bottom: 0px;
	margin-top: 0px;
}

.feature {
	border: 1px solid #aaaaaa;
	background-color: #EDEDED;
	margin: 5px;
	padding: 5px;
	float: left;
	width: 30%;
}

.feature .last {
	float: none;
}

.overlay {
	padding: 10px;
  display:none; 
  z-index:10000; 
  background-color:#fff; 
  border:1px solid #aaaaaa;
	color: #384053;

  -moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;

	-moz-box-shadow:0 0 90px 5px #384053;
  -webkit-box-shadow: 0 0 90px #384053;
}

.overlay h4 {
	color: #BA2B00;
	margin-bottom: 0px;
	margin-top: 0px;
}

.overlay .header {
	border-bottom: 1px solid #ba2b00;
	margin-bottom: 4px;
	overflow: auto;
}

.overlay .title {
	float: left;
}

.overlay .menu {
	float: right;
}

/* close button positioned on upper right corner */ 
.overlay .close { 
    background-image:url('/images/close.png'); 
    position:absolute; 
    right:-15px; 
    top:-15px; 
    cursor:pointer; 
    height:35px; 
    width:35px; 
}

.welcome-container {
	width: 600px;
}

.signup-container {
	width: 225px;
	height: 210px;
}

.win .signup-container {
	height: 225px;
}
 
.signin-container {
	width: 225px;
	height: 235px;
}

.signup-container p {
	margin-top: 4px;
	margin-bottom: 0px;
}

.signup-container input {
	margin-top:	-2px;
	margin-bottom: 10px;
}

.signup-container .submit {
	float: right;
}

.win.ie .signup-container .password {
	width: 215px;
}

.signin-container p {
	margin-top: 4px;
	margin-bottom: 0px;
}

.signin-container input {
	margin-top: -2px;
	margin-bottom: 10px;
}

.signin-container .checkbox {
	vertical-align: middle;
    position: relative;
	bottom: -2px;
}

.win.ie .signin-container .password {
	width: 215px;
}

.win.ie .signin-container .checkbox {
	vertical-align: middle;
    position: relative;
    bottom: -5px;
}

.signin-container .submit {
	float: right;
}

.win .signin-container .links {
	margin-top: -5px;
}

.win.ie .signin-container .links {
	margin-bottom: -20px;
}

.profile-container {
	width: 300px;
}

.profile-container form {
	margin-bottom: 0px;
}

.profile-container p {
	margin-top: 4px;
	margin-bottom: 0px;
}

.profile-container input {
	margin-top: -2px;
	margin-bottom: 10px;
}

.profile-container select {
	margin-top: 2px;
	margin-bottom: 10px;
}

.profile-container .submit {
	padding-left: 255px;
}

.win.gecko .profile-container .submit {
	padding-left: 245px;
}

.win.webkit .profile-container .submit {
	padding-left: 245px;
}

.recent-numbers-container {
	width: 100%;
	float: left;
}

.recent-numbers {
	background-color: white;
	width: 100%;
	border: 1px solid #aaaaaa;
	float: left;
}

.recent-plays {
	margin-top: 0px;
}

.recent-plays p {
	margin-top: 4px;
	margin-bottom: 2px;
}

.recent-plays .game-title-header {
	width: 175px;
	color: #cccccc;
	float: left;
	font-size: 10pt;
}

.recent-plays .game-date-header {
	width: 85px;
	color: #cccccc;
	float: left;
	font-size: 10pt;
}

.recent-plays .game-numbers-header {
	width: 130px;
	color: #cccccc;
	float: left;
	font-size: 10pt;
}

.recent-plays .game-actions-header {
	color: #cccccc;
	font-size: 10pt;
}

.recent-plays .game-title {
	width: 175px;
	float: left;
}

.recent-plays .date {
	width: 85px;
	float: left;
}

.recent-plays .numbers {
	float: left;
	width: 130px;
}

.recent-plays .actions a {
	color: #BA2B00;
	font-weight: bold;
}

.recent-plays .actions img {
	cursor: pointer;
}

.recent-plays-content {
	max-height: 195px;
	overflow: auto;
}

.win.gecko .recent-plays-content {
	max-height: 220px;
}

.mac.webkit .recent-plays-content {
	max-height: 215px;
}

.win.webkit .recent-plays-content {
	max-height: 220px;
}

.win.ie .recent-plays-content {
	max-height: 210px;
}

.user-stats-container {
	width: 100%;
	float: left;
}

.user-stats {
	margin-top: 10px;
	padding: 10px;
	width: 100%;
}

.stats {
	margin-top: 0px;
}

.user-stats p {
	margin-top: 4px;
	margin-bottom: 2px;
}

.user-stats .actions img {
	cursor: pointer;
}

.stats-content {
	max-height: 195px;
	overflow: auto;
}

.stats .game-name {
	margin-top: 4px;
	margin-bottom: 2px;
}

.stats .games-played {
	margin-top: 4px;
	margin-bottom: 2px;
	float: left;
	width: 125px;
}
.stats .wins {
	margin-top: 4px;
	margin-bottom: 2px;
	float: left;
	width: 75px;
} 
.stats .win-percentage {
	margin-top: 4px;
	margin-bottom: 2px;
}

.notification-container {
	width: 200px;
	float: right;
}

.win.ie .notification-container {
	margin-right: 20px;
}

.new-numbers {
	width: 300px;
	height: 165px;
}

.mac.webkit .new-numbers {
	height: 170px;
}

.win.ie .new-numbers {
	height: 190px;
}

.win.webkit .new-numbers {
	height: 185px;
}

.number-input {
	width: 30px;
}

.played_date {
	width: 100px;
}

.notifications {
	width: 200px;
	height: 100px;
	float: right;
}

.saved-numbers-container {
	margin-top: 10px;
	width: 200px;
	float: right;
}

.win.ie .saved-numbers-container {
	margin-right: 20px;
}

.saved-numbers {
	width: 200px;
	float: right;
}

.saved-numbers .game-title {

}

.saved-numbers .numbers-list {
	float: left;
}

.saved-numbers ul {
	margin-top: 4px;
	list-style-type: none;
	padding-left: 10px;
}

.saved-numbers li {
}

.saved-numbers a {
	color: #BA2B00;
}

.saved-numbers .actions {
	float: right;
}

.new-saved-numbers {
	width: 300px;
	height: 130px;
}

.mac.webkit .new-saved-numbers {
	height: 135px;
}

.win.ie .new-saved-numbers {
	height: 155px;
}

.win.webkit .new-saved-numbers {
	height: 150px;
}

.generator-container {
	width: 350px;
}

.generator-container .game {
	float: left;
	margin-left: 10px;
	width: 200px;
}

.generate-btn {
	cursor: pointer;
}

.numbers-overlay {
  width: 300px;
	height: 200px;
}

.generator-loading-img {
	margin-left: 35px;
	margin-top: 75px;
}

.group-membership {
	width: 400px;
	float: left;
}

.news-feed {
	width: 285px;
	float:right;
}

.new-group-container {
	width: 300px;
}






.games-container {
	background-color: white;
	margin: auto;
	padding: 4px;
	margin-top: 20px;
	width: 100%;
	overflow: auto;
	border: 1px solid #aaaaaa;
}

.games {
	background-color: white;
	padding: 4px;
	overflow: auto;
}

.game-info {
	width: 135px;
	color: #666666;
	font-size: 12px;
	float:left;
	padding-top: 50px;
}

.game-info a {
	font-size: 16px;
	font-weight: bold;
	color: #7797b2;
}

.game-analysis {
	overflow:auto;
	padding-left: 0px;
}

.prevPage {
	background: url('/images/left-arrow.png');
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:80px 10px;
	cursor:pointer;
	font-size:1px;

}

.nextPage {
	background: url('/images/right-arrow.png');
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin:80px 10px;
	cursor:pointer;
	font-size:1px;

}

.random-colors {
5F7F96, 78818f, 788691, ABB8B0, DEE2DB
	
384053, 353C4D, 434D53

3C4363, 78818f, 434D53, 7797b2, 15394d, 5F7F96, 134c6b

504f57, 5e686b, 4E5459, 1C202B, 36383F, 384053, 788691, 353C4D, 33333C

	ABB8B0, 3C4363, f0ecd4, cdcfb7, 78818f, 434D53, 67917A, CAD4C3, DEE2DB, 7797b2,15394d,5F7F96, 123142,
	134c6b
}

.scrollable {
	float: left;
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 83%;
	height:195px;

	/* custom decorations */
	border:1px solid #aaaaaa;
	background-color: #7797b2;
}

.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.scrollable img {
	float:left;
	background-color:#fff;
	width:160px;
	height:140px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.scrollable .chart {
	float:left;
	margin:20px 5px 20px 21px;
	background-color:#fff;
	border:1px solid #aaaaaa;
	width:160px;
	height:160px;
	font-size: 12px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.chart .title {
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #E2882D;
}

.chart p {
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
}