body {
	background-color: #384053;
}

div {
	color: #384053;
	font-size: 11pt;
}

h3 {
	color: #BA2B00;
	margin-top: 0px;
}

.cb {
	clear: both;
}

.main-container {
	width:expression(document.body.clientWidth < 960? "960px": "auto" );
	margin-left: 0px;
}

html>body .main-container {
	margin-left: 20px;
	min-width: 960px;
}

.left-container {
	width: 65%;
	float: left;
}

.right-container {
	width: 200px;
	float: right;
}

.top-ad {
	width: 728px;
	height: 90px;
	margin: auto;
}

.side-ad-container {
	background-color: white;
	margin: auto;
	margin-top: 10px;
	margin-left: 6px;
	padding: 10px;
	width: 600px;
	border: 1px solid #aaaaaa;
}

.side-ad {
	margin: auto;
	display: block;
}

.bottom-ad {
	width: 728px;
	height: 90px;
	margin: auto;
}

.footer {
	background-color: #666666;
	padding: 6px;
	margin-bottom: 10px;
}

.rounded-corners {
	-moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.content {
	background-color: #EDEDED;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 6px;
	overflow: auto;
	min-width: 940px;
}

.top-bar-top {
	background:  white;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	padding-top: 4px;
	overflow: auto;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.win.ie .top-bar-top {
	height: 95px;
}

.top-bar-top a {color: #BA2B00;text-decoration:none;font-family:helvetica;font-weight: bold;}

.top-bar-bottom{
	background-color: white;
	margin: 0;
	border: 1px solid #aaaaaa;
	padding-top: 5px;
	padding-bottom: 3px;
	overflow: auto;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

.top-bar-bottom a {color: #BA2B00;text-decoration:none;font-family:helvetica;font-weight: bold;}

.logo {
	float: left;
}

.top-menu {
	float: right;
	margin-top: 30px;
}

.win.gecko .top-menu {
	float: right;
	margin-top: 30px;
}

.win.ie .top-menu {
	overflow: auto;
}

.greeting {
	float: right;
	padding-right: 10px;
}

.greeting h3 {
	margin-bottom: 5px;
}

.main-content {
	margin-top: 10px;
}

.message {
	width: 70%;
	margin: auto;
	margin-bottom: 10px;
	padding: 5px;
}

.success {
	border: 1px solid #C6D880;
	background: #E6EFC2;
	color: #264409;
}
.notice {
	border: 1px solid #FFD324;
	background: #FFF6BF;
	color: #514721;
}
.error {
	border: 1px solid #FBC2C4;
	background: #FBE3E4;
	color: #8a1f11;
}

.widget {
	background-color: white;
	margin: auto;
	padding: 10px;
	border: 1px solid #aaaaaa;
}

.widget h4 {
	color: #BA2B00;
	margin-bottom: 0px;
	margin-top: 0px;
}
.widget .header {
	border-bottom: 1px solid #ba2b00;
	margin-bottom: 4px;
	overflow: auto;
}

.widget .title {
	float: left;
}

.widget .menu {
	float: right;
}

.intro-container {
	overflow: auto;
}

.intro {
	overflow: auto;
}

.intro h2 {
	color: #BA2B00;
	margin-bottom: 0px;
	margin-top: 0px;
}

.text {
	width: 60%;
	float: left;
}

.win.ie .text {
	width: 57%;
}

.basic-generator {
	width: 310px;
	border: 1px solid #aaaaaa;
	height: 165px;
	background-color: #ededed;
	padding: 4px;
	margin-right: 0px;
	float: right;
}

.win.ie.basic-generator {
	width: 325px;
	float: right;
}

.basic-generator .numbers {
	font-size: 13pt;
}

.basic-generator .label {
	width: 50px;
	float: left;
}

.basic-generator .list {
	
}

.hidden { 
	display: none;
}

.features {
	margin-top: 10px;
}

.features h2 {
	color: #BA2B00;
	margin-bottom: 0px;
	margin-top: 0px;
}

.feature {
	border: 1px solid #aaaaaa;
	background-color: #EDEDED;
	margin: 5px;
	padding: 5px;
	float: left;
	width: 30%;
}

.feature .last {
	float: none;
}

.blog {
	margin-top: 10px;
	width: 60%;
	overflow: auto;
}

.blog .post {
	overflow: auto;
}

.blog .spacer {
	margin-top: 20px;
}

.blog .text {
	background-color: white;
	width: 98%;
}

.blog-post {
	margin-top: 10px;
	width: 60%;
	overflow: auto;
}

.blog-post .post {
	overflow: auto;
}

.blog-post .text {
	background-color: white;
	width: 98%;
}

.blog-post .comment {
	margin-bottom: 10px;
}

.blog-post .comments h4 {
	border-bottom: 1px dashed #BA2B00;
	margin-bottom: 5px;
}

.blog-post .comment-form textarea {
	
}

.comment-approval {
	overflow: auto;
}

.comment-approval .text {
	overflow: auto;
}