%br{:style => "clear: both;"}
.intro.widget.rounded-corners
  .header
    .title{:style => "float: none;"}
      %h2 Elevating the Lotto Experience!
  %div{:style => "clear: both;"}
  .intro-container
    .info
      .text
        %p 
          Look out!  The Lotto Project is on the way!  
        %p
          Our goal is to create <strong>the</strong> lotto destination on the web.  How are we going to do that?  Tough question, but we have a bunch of really neat ideas.  We'll be sharing those with you as we get closer to releasing them.  In the meantime, check out the the three upcoming features to the right, bookmark us, and follow us on Twitter and Facebook!
        %p Oh!  And if you have any ideas of your own or just want to tell us how excited you are please drop us <a href=''>a note</a> and let us know!
    .basic-generator.rounded-corners
      .header
        .title{:style => "float: none;"}
          %h4 Generate Numbers
      .details
        = render :partial => "generators/inputs"
  %div{:style => "clear: both"}
.features.widget.rounded-corners
  .header
    .title{:style => "float: none;"}
      %h2 Upcoming Features
  .feature.rounded-corners
    .header
      .title{:style => "float: none"}
        %h4 Generate Numbers
    .details
      Randomly Generate lotto numbers for every lottery in the US!  We know the rules for every game, so we can generate numbers that you can play immediately.  We've got a lot of improvements lined up for the generator, but give the basic one a try below!
  .feature.rounded-corners
    .header
      .title{:style => "float: none;"}
        %h4 Track Results
    .details
      Ever wondered what your win percentage was?  Or more importantly how it stacks up against the rest of the lotto playing public?  Record the numbers you play and your result and we'll give you all the stats you can handle!
  .feature.rounded-corners.last
    .header
      .title{:style => "float: none;"}
        %h4 Create or Join a Lotto Group
    .details
      Have a group of friends that play the lotto together?  Create a group and get organized!  Store the numbers you play.  Record when you play them to avoid purchasing duplicate tickets and much more!
  %div{:style => "clear: both"}
  %div{:style => "clear: both"}