%br{:style => "clear: both;"}
.intro.widget.rounded-corners
  .header
    .title{:style => "float: none;"}
      %h2 A whole new ball game!
  %div{:style => "clear: both;"}
  .intro-container
    .info
      .text
        %p 
          Look out!  The Lotto Project is on the way.
        %p
          We look at the purchase of a lottery ticket as an investment. Our goal at The Lotto Project is to help you maximize that investment -- and to have some fun doing it. We have a bunch of really neat ideas for how to do that, and we'll be sharing those with you as we get closer to releasing them. In the meantime, check out the first three upcoming features below, bookmark us, and follow us on Twitter <a href="http://www.twitter.com/mike_abner"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" alt="Follow mike_abner on Twitter" style="border:0px;vertical-align:middle;"/></a> and Facebook <a href="http://www.facebook.com/the-lotto-project"><img src="/images/facebook_16.png" alt="Follow mike_abner on Twitter" style="border:0px;vertical-align:middle;"/></a>.
        %p Oh!  And if you have any ideas of your own or just want to tell us how excited you are please drop us <a href=''>a note</a> and let us know!
    .basic-generator.rounded-corners
      .header
        .title{:style => "float: none;"}
          %h4 Generate Numbers
      .details
        = render :partial => "generators/inputs"
  %div{:style => "clear: both"}
.features.widget.rounded-corners
  .header
    .title{:style => "float: none;"}
      %h2 Upcoming Features
  .feature.rounded-corners
    .header
      .title{:style => "float: none"}
        %h4 Crystal Ball
    .details
      Randomly Generate lotto numbers for every lottery in the US!  We know the rules for every game, so we can generate numbers that you can play immediately.  We've got a lot of improvements lined up for the generator, but give the basic generator a try above!
  .feature.rounded-corners
    .header
      .title{:style => "float: none;"}
        %h4 Keep your eye on the ball
    .details
      Ever wondered what your win percentage was?  Or more importantly how it stacks up against the rest of the lotto playing public?  Record the numbers you play and your result and we'll give you all the stats you can handle!&nbsp;
  .feature.rounded-corners.last
    .header
      .title{:style => "float: none;"}
        %h4 Have a ball
    .details
      Have a group of friends that play the lotto together?  Create a group and get organized!  With a lotto group you can store the numbers you play, record when you play them and the result, and discuss strategy with your group-mates.  
  %div{:style => "clear: both"}
  %div{:style => "clear: both"}