%br{:style => "clear: both;"}
.intro.widget.rounded-corners
  .header
    .title{:style => "float: none;"}
      %h2 A whole new ball game!
  %div{:style => "clear: both;"}
  .intro-container
    .info
      .text
        %p 
          Look out!  The Lotto Project is on the way.
        %p
          Content!  We need good content!
    .basic-generator.rounded-corners
      .header
        .title{:style => "float: none;"}
          %h4 Generate Numbers
      .details
        = render :partial => "generators/inputs"
  %div{:style => "clear: both"}
.features.widget.rounded-corners
  .header
    .title{:style => "float: none;"}
      %h2 Upcoming Features
  .feature.rounded-corners
    .header
      .title{:style => "float: none"}
        %h4 Crystal Ball
    .details
      Randomly Generate lotto numbers for every lottery in the US!  We know the rules for every game, so we can generate numbers that you can play immediately.  We've got a lot of improvements lined up for the generator, but give the basic generator a try above!
  .feature.rounded-corners
    .header
      .title{:style => "float: none;"}
        %h4 Keep your eye on the ball
    .details
      Ever wondered what your win percentage was?  Or more importantly how it stacks up against the rest of the lotto playing public?  Record the numbers you play and your result and we'll give you all the stats you can handle!&nbsp;
  .feature.rounded-corners.last
    .header
      .title{:style => "float: none;"}
        %h4 Have a ball
    .details
      Have a group of friends that play the lotto together?  Create a group and get organized!  With a lotto group you can store the numbers you play, record when you play them and the result, and discuss strategy with your group-mates.  
  %div{:style => "clear: both"}
  %div{:style => "clear: both"}