.intro.widget.rounded-corners
  .header
    .title{:style => "float: none;"}
      %h2 A whole new ball game!
    .menu
  %br.cb
  .intro-container
    .info
      .text
        %p 
          Look out!  The Lotto Project is on the way.
        %p
          Content!  We need good content!
    .basic-generator.rounded-corners
      .header
        .title{:style => "float: none;"}
          %h4 Generate Numbers
      .details
        = render :partial => "generators/inputs"
  %div{:style => "clear: both"}
.features.widget.rounded-corners
  .header
    .title{:style => "float: none;"}
      %h2 Upcoming Features
  .feature.rounded-corners
    .header
      .title{:style => "float: none"}
        %h4 Crystal Ball
    .details
      Gaze into our crystal ball and see your winning lotto numbers appear!  Ok, so we can't guarantee that they'll be winning numbers, but we can generate numbers for every lottery in the US.  Give the basic crystal ball a try today, but come back later when we release our full featured number generator and let us help you win your golden ticket!
  .feature.rounded-corners
    .header
      .title{:style => "float: none;"}
        %h4 Keep your eye on the ball
    .details
      When was the last time you had a winning ticket?  Do you know what numbers you played?  How about your lifetime win percentage?  More importantly, do you know how your win percentage compares to the average lotto player?  We know the answers!  Or at least we will when you start tracking your playing history.  We'll show you all kinds of fun and interesting stats about your lotto playing.
  .feature.rounded-corners.last
    .header
      .title{:style => "float: none;"}
        %h4 Have a ball
    .details
      Increase the fun of playing the lotto by playing the lotto with your friends!  Create or join a group and increase your chances of winning!  Our lotto groups make communicating a breeze and by tracking the lotto numbers you play you'll never have to worry about wasting money playing duplicate numbers.  Everything is more fun in a group and playing the lottery is no different.
  %div{:style => "clear: both"}
  %div{:style => "clear: both"}